*{
    margin: 4px;
    padding: 8px;
}

article{
    border-top:dashed red ;
    border-left: solid 3px red;
    border-right: solid 3px red;
    border-bottom: solid 10px red;
   background-color: rgba(0, 0, 0, 0.678);
   color:aliceblue
}